@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-alex-brush {
    font-family: "Alex Brush", cursive;
  }
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-toast-in {
  animation: toast-in 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
